/* Styles for WATS 3020 FizzBuzz Assignment */

#max-number {
    font-weight: 700;
}

pre {
    padding: 2rem;
    background: coral;
    font-size: 1.5rem;

}

body {
    font-family: Courier;
    font-size: 1.2rem;
    font-weight: 300;
    background: bisque;
}